<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <h1 id='look'>Edit <%=player.name%></h1>
    <div class="field-container">
        <form action="/players/<%=player._id%>?_method=PUT" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%=player.name%>" />

            <label for="Height">Height:</label>
            <input type="number" name="height" id="height" min="70" max="90" step="1" />
            <p>Please enter height in inches (e.g., 70 for 5'10", 90 for 7'6")</p>
    
        
            <label for="canShoot">Can He Shoot?</label>
            <input type="checkbox" name="canShoot" 
                <% if(player.canShoot){%>
                    checked
                <%}%>
            />
            <button type="submit">Create Player</button>
        </form>
    </div>
      <a href="/players/">Back to Roster</a>
</body>
</html>