<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <h1>Full Roster</h1>
    <div class="freedom">
        <ul id="homel">
            <% players.forEach((player) => {%> 
            <li>
                <a href="/players/<%=player._id%>">
                <%=player.name%>
                </a>
                </li><%  
            }); %>
        </ul>
    </div>
    <a href="/players/new" id="site">Create New Player</a>
</body>
</html>