<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Create</title>
</head>
<body>
    <h1>Create a Player</h1>
    <form action="/players" method="POST" id="bug">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="Height">Height:</label>
        <select name="height" id="height">
            <option value="">Select Height</option>
            <option value="5'10">5'10</option>
            <option value="5'11">5'11</option>
            <option value="6'0">6'0</option>
            <option value="6'1">6'1</option>
            <option value="6'2">6'2</option>
            <option value="6'3">6'3</option>
            <option value="6'4">6'4</option>
            <option value="6'5">6'5</option>
            <option value="6'6">6'6</option>
            <option value="6'7">6'7</option>
            <option value="6'8">6'8</option>
            <option value="6'9">6'9</option>
            <option value="6'10">6'10</option>
            <option value="6'11">6'11</option>
            <option value="7'0">7'0</option>
            <option value="7'1">7'1</option>
            <option value="7'2">7'2</option>
            <option value="7'3">7'3</option>
            <option value="7'4">7'4</option>
            <option value="7'5">7'5</option>
            <option value="7'6">7'6</option>
        </select>
    
        <label for="canShoot">Can they Shoot?</label>
        <input type="checkbox" name="canShoot" />

        <label for="position">Position:</label>
        <select name="position" id="position">
            <option value="">Select Position</option>
            <option value="Point Guard">Point Guard</option>
            <option value="Shooting Guard">Shooting Guard</option>
            <option value="Small Forward">Small Forward</option>
            <option value="Power Forward">Power Forward</option>
            <option value="Center">Center</option>
        </select>

        <label for="shootingHand" id="shootingLabel">Shooting Hand:</label>
        <select name="shootingHand" id="shootingHand">
            <option value="">Select Shooting Hand</option>
            <option value="Right">Right</option>
            <option value="Left">Left</option> 
        </select>

        <label for="jerseyNumber" class="jLabel">Jersey Number:</label>
        <input type="number" name="jerseyNumber" id="jerseyNumber" min="0" max="99" step="1" />
    
        <button type="submit" id="create">Create Player</button>
      </form>
      <a href="/players/" id="laugh">Back to Roster</a>
      
</body>
</html>