<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Create</title>
</head>
<body>
    <h1>Create a Player</h1>
    <form action="/players" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="Height">Height:</label>
        <input type="number" name="height" id="height" min="70" max="90" step="1" />
        <p>Please enter height in inches (e.g., 70 for 5'10", 90 for 7'6")</p>
    
        <label for="canShoot">Can they Shoot?</label>
        <input type="checkbox" name="canShoot" />

        <label for="position">Position:</label>
        <select name="position" id="position">
            <option value="">Select Position</option>
            <option value="Point Guard">Point Guard</option>
            <option value="Shooting Guard">Shooting Guard</option>
            <option value="Small Forward">Small Forward</option>
            <option value="Power Forward">Power Forward</option>
            <option value="Center">Center</option>
        </select>

        <label for="shootingHand" id="shootingLabel">Shooting Hand:</label>
        <select name="shootingHand" id="shootingHand">
            <option value="">Select Shooting Hand</option>
            <option value="Right">Right</option>
            <option value="Left">Left</option> 
        </select>

        <label for="jerseyNumber" class="jLabel">Jersey Number:</label>
        <input type="number" name="jerseyNumber" id="jerseyNumber" min="0" max="99" step="1" />
    
        <button type="submit" id="create">Create Player</button>
      </form>
      <a href="/players/">Back to Roster</a>
      
</body>
</html>