<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <h1 id="start">Welcome to the Myplayer Builder!</h1><br>
    <a href="/players/new" id="last">Create New Player</a><br><br><br><br>
    <a href="/players" id="roster">Check Out The Roster</a>
</body>
</html>